<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>653387730810-2lhd7047bus4og1jjbb6f68gebcg6dvb.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.653387730810-2lhd7047bus4og1jjbb6f68gebcg6dvb</string>
	<key>API_KEY</key>
	<string>AIzaSyAKizwhPR4sBv3BD6WCKaA57N-CGTAtX4s</string>
	<key>GCM_SENDER_ID</key>
	<string>653387730810</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.scholarchatApp</string>
	<key>PROJECT_ID</key>
	<string>chat-app-f307d</string>
	<key>STORAGE_BUCKET</key>
	<string>chat-app-f307d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:653387730810:ios:c8ad1a3c4d9c386d0e10c3</string>
</dict>
</plist>